<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ガウス過程回帰を試してみよう！</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/mycustom.css' %}">
	<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=MML_SVG"></script>
	<style>
		body {
			background-color: #ffffff;
		}
	</style>
</head>

<body class="pt-3">
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a href="" class="navbar-brand">Gaussian Process Regressor</a>
		</nav>
	</header>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-5">ガウス過程回帰を試してみよう！</h1>
			<p>ガウス過程回帰が簡単に体験できるアプリです.</p>
		</div>
	</div>

	<div class="container">
		<form action="{% url 'gprapp:index' %}" method='POST'>
			{% csrf_token %}
			<div class="row">
				<div class="form-group col-md-2">
					{{ form.kernel|as_crispy_field }}
				</div>
				<div class="form-group col-md-2">
					{{ form.noise_scale|as_crispy_field }}
				</div>
				<div class="form-group col-md-2">
					{{ form.train_x_size|as_crispy_field }}
				</div>
				<div class="form-group col-md-3">
					<p></p>
					<button type="submit" class="btn btn-primary btn-lg">学習と推論を実行</button>
				</div>
			</div>
		</form>
	</div>

	{% if chart %}
		<div class="image">
			<img src="data:image/png;base64,{{ chart | safe }}">
		</div>
	{% endif %}

	<div class="container">
		<h2>使い方</h2>
	</div>

	<div class="container">
		<h4>1. カーネル関数の種類を選択</h4>
		<p>まず, ガウス過程回帰に用いるカーネル関数を選択してください. 選択できるカーネル関数は以下のいずれかです.</p>
			<ul>
				<li>RBFKernel</li>
				<li>CosineKernel</li>
				<li>LinearKernel</li>
				<li>nd-PolynomialKernel(n = 2, ..., 9)</li>
			</ul>
		<p>これらの関数の詳細は<a href="https://docs.gpytorch.ai/en/v1.5.1/kernels.html" target="_blank">GPyTorchの公式ドキュメント</a>を参照してください.</p>

		<h4>2. ノイズのスケール<math><mi>&delta;</mi></math>を選択</h4>
		<p>ノイズのスケールを0以上1以下の正数で入力してください.</p>
		<p>観測データは以下の式に従って生成されています.</p>
		<p>
			<math>
				<mi>f</mi>
				<mo>&ApplyFunction;</mo>
				<mfenced>
					<mrow>
					<mi>t</mi>
					</mrow>
				</mfenced>
				<mo>=</mo>
				<msup>
					<mi>e</mi>
					<mi>t</mi>
				</msup>
				<mi>sin</mi>
				<mi>2</mi>
				<mi>&pi;</mi>
				<mi>t</mi>
				<mo>+</mo>
				<mi>&delta;</mi>
				<mi>&epsilon;</mi>
			</math>
		</p>
		<p>ここで, <math><mi>&epsilon;</mi></math>は標準正規分布からサンプリングされたノイズで, <math><mi>&delta;</mi></math>倍されて真の関数に加算されています.  
		<math><mi>&delta;</mi></math>を調整することでノイズの影響の大きさを調整することができます.  このデータに対してガウス過程回帰を実行します.</p>

		<h4>3. 観測データ数を入力</h4>
		<p>観測データ数を1以上500以下の整数で入力してください.  観測データ数を多くするほど曖昧さが小さくなることを確認できると思います.</p>

		<h4>4. 実行ボタンを押す</h4>
		<p>「学習と推論を実行」というボタンを押してください.</p>
	</div>

	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
</body>
</html>
